@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


body {
  height: 100%;
  font-family: system-ui;
  background-color: #1F2933;
  color: #E5E7EB;
  overflow-x: hidden;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

html, body, #__next {
  height: 100%;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             
}